:root{

/* Primary */

--primary:#6C63FF;

--secondary:#4ECDC4;

--danger:#FF6B6B;

--warning:#FFB547;

--success:#2ECC71;

/* Background */

--bg:#EEF2F9;

--card:#F7F9FC;

/* Text */

--text:#2D3748;

--light:#7B8794;

/* Glass */

--glass:rgba(255,255,255,.35);

--blur:blur(16px);

/* Shadow */

--shadow:

8px 8px 18px rgba(163,177,198,.6),

-8px -8px 18px white;

--radius:20px;

}